<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.description }}</title>
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png"/>
  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Hind|Quicksand:400" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/zoomjs/zoom.css">

</head>

<body>
  <header>
    <nav>
    <div class="container">
        <div class="col-xs-12 col-sm-3 col-md-3 center-small">
          <a class="nav-link center" href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/assets/img/oznet-header.png" alt="Öznet Blog" style="height: 25px;"></a>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 center-small">
          <ul class="nav-list">
            <li class="nav-item">
              <button type="button" name="button" id="category-button">Kategoriler <i id="change-arrow-dir" class="fa fa-angle-down" aria-hidden="true"></i></button>
            <li class="nav-item item-seperator">|</li>
            <li class="nav-item"><a href="https://www.facebook.com/oznetyazilim/" class="nav-link" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a href="https://www.instagram.com/oznetyazilim" class="nav-link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 center-small">
          {% include categories-dropdown.html %}
        </div>
    </div>

  </nav>

  </header>
